In [1]:
import numpy as np
import pandas as pd
# nm1588970
data = pd.read_csv("title.basics.tsv.gz", sep='\t')

/home/megarage9000/source/repos/movieProjection/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
data

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8370243,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
8370244,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
8370245,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
8370246,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
8370247,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [3]:
newdata = data.groupby("titleType").agg("count")
newdata

,tconst,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
titleType,,,,,,,,
movie,592849,592849,592849,592849,592849,592849,592849,592849
short,839476,839476,839476,839476,839476,839476,839476,839476
tvEpisode,6146628,6146619,6146619,6146628,6146628,6146628,6146628,6146618
tvMiniSeries,40462,40462,40462,40462,40462,40462,40462,40462
tvMovie,133548,133548,133548,133548,133548,133548,133548,133548
tvPilot,2,2,2,2,2,2,2,2
tvSeries,215571,215571,215571,215571,215571,215571,215571,215571
tvShort,10359,10359,10359,10359,10359,10359,10359,10359
tvSpecial,34692,34692,34692,34692,34692,34692,34692,34692
video,327043,327043,327043,327043,327043,327043,327043,327043
videoGame,29618,29618,29618,29618,29618,29618,29618,29618

In [4]:
movies_only = data[(data["titleType"] == "movie") | (data["titleType"] == "tvMovie")]
movies_only

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
8370164,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
8370169,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0,2015,\N,66,Drama
8370176,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
8370187,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
8370198,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0,2013,\N,49,Documentary

In [5]:
movies_only = movies_only.drop(columns = ["endYear", "titleType"])
rand = movies_only.groupby("startYear").agg("count")
rand

,tconst,primaryTitle,originalTitle,isAdult,runtimeMinutes,genres
startYear,,,,,,
1905,1,1,1,1,1,1
1906,1,1,1,1,1,1
1907,2,2,2,2,2,2
1908,4,4,4,4,4,4
1909,29,29,29,29,29,29
...,...,...,...,...,...,...
2025,12,12,12,12,12,12
2026,5,5,5,5,5,5
2027,5,5,5,5,5,5
2028,2,2,2,2,2,2
\N,79188,79188,79188,79188,79188,79188

In [6]:
t_consts = movies_only["tconst"].to_numpy()

In [7]:
t_consts

array(['tt0000502', 'tt0000574', 'tt0000591', ..., 'tt9916706',
       'tt9916730', 'tt9916754'], dtype=object)

In [8]:
print(len(t_consts))

726397

In [9]:
ratings_csv = pd.read_csv("title.ratings.tsv", sep='\t')
ratings_csv

FileNotFoundError: [Errno 2] No such file or directory: 'title.ratings.tsv'

In [ ]:
ratings_csv = ratings_csv[ratings_csv["tconst"].isin(t_consts)]
ratings_csv