In [2]:
import numpy as np
import pandas as pd
# nm1588970
data = pd.read_csv("title.basics.tsv.gz", sep='\t', na_values='\\N')

/home/megarage9000/source/repos/movieProjection/env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [2]:
data

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,4.0,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
8370243,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0.0,2010.0,NaN,NaN,"Action,Drama,Family"
8370244,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0.0,2010.0,NaN,NaN,"Action,Drama,Family"
8370245,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0.0,2010.0,NaN,NaN,"Action,Drama,Family"
8370246,tt9916856,short,The Wind,The Wind,0.0,2015.0,NaN,27.0,Short
8370247,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0.0,2014.0,NaN,10.0,"Adventure,Animation,Comedy"

In [3]:
newdata = data.groupby("titleType").agg("count")
newdata

,tconst,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
titleType,,,,,,,,
movie,592849,592849,592849,592849,517134,0,372953,521597
short,839476,839476,839476,839476,816824,0,545567,839282
tvEpisode,6146628,6146619,6146619,6146627,5250193,0,986913,5627540
tvMiniSeries,40462,40462,40462,40462,37994,17238,14994,37718
tvMovie,133548,133548,133548,133548,130075,0,90128,122054
tvPilot,2,2,2,2,2,0,0,0
tvSeries,215571,215571,215571,215571,200249,66333,86593,197298
tvShort,10359,10359,10359,10359,10262,0,9105,10346
tvSpecial,34692,34692,34692,34692,34542,0,16608,29601
video,327043,327043,327043,327043,325630,0,234284,318997
videoGame,29618,29618,29618,29618,29157,0,280,24738

In [4]:
movies_only = data[(data["titleType"] == "movie") | (data["titleType"] == "tvMovie")]
movies_only

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0.0,1905.0,NaN,100.0,NaN
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0.0,1906.0,NaN,70.0,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0.0,1907.0,NaN,90.0,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0.0,1907.0,NaN,NaN,Drama
625,tt0000630,movie,Hamlet,Amleto,0.0,1908.0,NaN,NaN,Drama
...,...,...,...,...,...,...,...,...,...
8370164,tt9916680,movie,De la ilusiÃ³n al desconcierto: cine colombiano...,De la ilusiÃ³n al desconcierto: cine colombiano...,0.0,2007.0,NaN,100.0,Documentary
8370169,tt9916692,tvMovie,Teatroteka: Czlowiek bez twarzy,Teatroteka: Czlowiek bez twarzy,0.0,2015.0,NaN,66.0,Drama
8370176,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0.0,2013.0,NaN,NaN,Comedy
8370187,tt9916730,movie,6 Gunn,6 Gunn,0.0,2017.0,NaN,116.0,NaN
8370198,tt9916754,movie,Chico Albuquerque - RevelaÃ§Ãµes,Chico Albuquerque - RevelaÃ§Ãµes,0.0,2013.0,NaN,49.0,Documentary

In [5]:
movies_only = movies_only.drop(columns = ["endYear", "titleType"])
rand = movies_only.groupby("startYear").agg("count")
rand

,tconst,primaryTitle,originalTitle,isAdult,runtimeMinutes,genres
startYear,,,,,,
1896.0,1,1,1,1,1,1
1897.0,1,1,1,1,0,1
1898.0,7,7,7,7,0,7
1899.0,8,8,8,8,1,8
1900.0,6,6,6,6,2,6
...,...,...,...,...,...,...
2024.0,74,74,74,74,7,60
2025.0,12,12,12,12,2,12
2026.0,5,5,5,5,1,5
2027.0,5,5,5,5,1,5
2028.0,2,2,2,2,0,2

In [6]:
t_consts = movies_only["tconst"].to_numpy()

In [7]:
t_consts

array(['tt0000502', 'tt0000574', 'tt0000591', ..., 'tt9916706',
       'tt9916730', 'tt9916754'], dtype=object)

In [8]:
print(len(t_consts))

726397

In [9]:
ratings_csv = pd.read_csv("title.ratings.tsv", sep='\t')
ratings_csv

FileNotFoundError: [Errno 2] No such file or directory: 'title.ratings.tsv'

In [ ]:
ratings_csv = ratings_csv[ratings_csv["tconst"].isin(t_consts)]
ratings_csv

In [5]:
names_csv = pd.read_csv("name.basics.tsv.gz", sep='\t')
names_csv

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0053137,tt0072308,tt0050419,tt0031983"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0037382,tt0038355,tt0071877,tt0117057"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,music_department","tt0054452,tt0049189,tt0056404,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,soundtrack,writer","tt0072562,tt0078723,tt0077975,tt0080455"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0050986,tt0050976,tt0083922,tt0060827"
...,...,...,...,...,...,...
11344946,nm9993714,Romeo del Rosario,\N,\N,"animation_department,art_department","tt2455546,tt11657662"
11344947,nm9993716,Essias Loberg,\N,\N,NaN,\N
11344948,nm9993717,Harikrishnan Rajan,\N,\N,cinematographer,tt8736744
11344949,nm9993718,Aayush Nair,\N,\N,cinematographer,\N
11344950,nm9993719,Andre Hill,\N,\N,NaN,\N